@import "mocha.css";

@define-color background @crust;
@define-color module-color0 @lavender;
@define-color module-color1 @surface0;
@define-color module-color2 @base;
@define-color module-color3 @mantle;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "0xProto Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @background;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    color: @text;
}

window#waybar > box {
	margin: 2px;
	background-color: @background;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    /* background-color: #a37800; */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#window,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#window {
    background-color: @module-color2;
    margin: 0;
}

#clock {
    background-color: @module-color1;
    color: @text;
    font-weight: bold;
}

#clock.date {
    background-color: @module-color2;
}

#battery {
    background-color: @surface0;
    color: @text;
    margin-right: 8px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @module-color3;
    color: @text;
}

#memory {
    background-color: @module-color2;
    color: @text;
}

#disk {
    background-color: @surface0;
}

#backlight {
    background-color: @surface0;
}

#network {
    background-color: @surface0;
    color: @text;
    margin-right: 8px;
}

#network.disconnected {
    background-color: @base;
}

#pulseaudio {
    background-color: @module-color2;
    color: @text;
}

#pulseaudio.muted {
    background-color: @module-color2;
    color: @text;
}

#bluetooth {
    background-color: @module-color2;
    padding-right: 10px;
}

#bluetooth.connected {
  color: @blue;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-power {
    padding: 0 8px 0 18px;
    font-size: 16px;
}

#temperature {
    background-color: @module-color1;
    color: @text;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @surface0;
    color: @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: @module-color3;
    color: @text;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-distro {
	padding: 0 10px 0 5px;
	font-size: 23px;
	background-color: @lavender;
	color: @base;
}

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	color: @module-color0;
	font-size: 24px;
}

#custom-left_div.1,
#custom-left_inv.1,
#custom-right_div.1,
#custom-right_inv.1 {
  color: @module-color1;
}

#custom-left_div.2,
#custom-left_inv.2,
#custom-right_div.2,
#custom-right_inv.2 {
  color: @module-color2;
}

#custom-left_div.3,
#custom-left_inv.3,
#custom-right_div.3,
#custom-right_inv.3 {
  color: @module-color3;
}

