# General
alias ls="ls -hla"
alias cd..="cd .."

# Windows specific
if [ -d /mnt/c ]; then
  alias git-native="git.exe"
fi

# Kubernetes
alias kubecon="kubectl config use-context "
alias localtunnel="sudo kubectl -n ingress-nginx port-forward svc/ingress-nginx-controller --address=0.0.0.0 443:443"
alias paratunnel="sudo kubectl -n ingress-nginx port-forward svc/ingress-nginx-controller --address=10.211.55.2 443:443"

# Timetrap
alias ti="t in "
alias to="t out "
alias tt="t today "
alias tta="t today all"
alias tic="t s cag;t in general "
alias tie="t s cag;t in ericsson "
alias til="t s lde;t in "

# Tmux
alias tppc="tmux new-session -s ppc -c ~/Developer/horizon \; \
  send-keys 'minikube tunnel' \; \
  split-window -v \; \
  resize-pane -y 90% \; \
  send-keys 'minikube start' C-m \; \
  new-window -c ~/Developer/horizon \; \
  send-keys 'npm run test:all'\; \
  new-window -c ~/Developer/ppc-rdm/app \; \
  send-keys 'nvim .' C-m \; \
  split-window -h \; \
  send-keys 'npm run test'\; \
  split-window -v \; \
  send-keys 'cd ..' C-m \;"
