alias ls="ls -la"
alias cd..="cd .."
alias kubecon="kubectl config use-context "

# Kubernetes
alias kubecon="kubectl config use-context "
alias paratunnel="sudo kubectl -n ingress-nginx port-forward svc/ingress-nginx-controller --address=10.211.55.2 443:443"

# Timetrap
alias ti="t in "
alias to="t out "
alias tt="t today "
alias tta="t today all"
alias tw="t week "
alias twa="t week all"
alias tic="t s cag;t in general "
alias tie="t s cag;t in ericcson "
alias til="t s lde;t in "
alias tim="t s meloidea;t in "
