[user]
	name = Zoee Silcock
	email = mrzoee@gmail.com
[push]
	default = current
[merge]
	ff = false
	conflictstyle = diff3
[branch]
	autosetuprebase = always
[core]
	edit = vim
	fileMode = false
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = false
[init]
	templatedir = ~/.git_template
	defaultBranch = master
[alias]
	ctags = !.git/hooks/ctags
	reset-author = commit --amend --reset-author --no-edit
	undeployed = !git l `git tag|grep production|tail -n 1`..HEAD
	personal = config user.email \"mrzoee@gmail.com\"
	reset-hooks = !rm .git/hooks/* & git init
	a = add
	co = checkout
	br = branch
	c = commit
	s = status
	r = rebase -i
	pr = pull --rebase
[merge "gemfilelock"]
	name = relocks the gemfile.lock
	driver = bundle install
[rerere]
	enabled = true
[oh-my-zsh]
	hide-dirty = 1
[pull]
	rebase = true
[rebase]
	autoStash = true
