[user]
	name = Zoee Silcock
	email = zoee.silcock@mynewsdesk.com
[push]
	default = current
[merge]
	ff = false
	conflictstyle = diff3
[branch]
	autosetuprebase = always
[core]
	edit = vim
	fileMode = false
	editor = vim
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
